<meta name="google-site-verification" content="zAIUS1b1b98O5qOQtWTRDvXMXxq0ZLgJ6hX30TvLlbc" />
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">ResumeMate</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% if request.user.is_authenticated %}
        <button style="float: right;" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Share Resume
</button>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Share Resume</h4>
        <p>Copy The URL of The Resume & Share it anywhere.</p>
      </div>
      <div class="modal-body">
        <div class="input-group input-group-md">
            <input type="text" class="form-control" value="{{ request.build_absolute_uri }}" id="myInput">
            <div class="input-group-btn">
                <button type="submit" class="btn btn-primary" onclick="myFunction()"><i class="fa fa-clipboard" aria-hidden="true"> Copy</i>
                </button>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
        {% endif %}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'register' %}">Register</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
